body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.hello {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}

h1, h2 {
    color: #333;
}

.para {
    background-color: #ecf0f1;
    padding: 10px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #2980b9;
}

#output {
    font-weight: bold;
    color: #333;
}

/* Additional styling for the submit button and GPAX output */
div:last-child {
    text-align: center;
    margin-top: 20px;
}
/* video {
    height: 30%;
    margin-left: 200px;

} */